@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.about
	{
		padding-top: 38px;
	}
	.about_content
	{
		margin-top: 0;
	}
	.about_image
	{
		margin-top: 60px;
	}
	.milestone_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.why_col:not(:last-child)
	{
		margin-bottom: 90px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.team_col:not(:last-child)
	{
		margin-bottom: 20px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.section_title h2
	{
		font-size: 36px;
	}
	.text_highlight
	{
		font-size: 16px;
	}
	.button
	{
		width: 141px;
		height: 40px;
	}
	.button a
	{
		font-size: 14px;
		line-height: 40px;
	}
	.milestone_counter
	{
		font-size: 48px;
	}
	.why_title
	{
		font-size: 24px;
	}
	.team_image
	{
		width: 155px;
		height: 155px;
	}
	.team_content
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

